@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container a {
        margin-top: 20px;
    }


    .banner-text, .banner-img {
        flex-direction: column;
        width: 100%;
    }
.banner-img{
    height: 50%;
}

    .banner-container{
        flex-direction: column;
    }
}